.notification {
  padding: 10px;
  height: 64px;
  overflow: hidden;
  border-radius: 10px;
  border: solid 3px currentColor;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
  z-index: 99;
}

.notification > svg {
  height: 64px;
  width: 64px;
  object-fit: cover;
}

.notification_info {
  background-color: rgb(207, 229, 240);
  color: rgb(66, 119, 163);
}

.notification_error {
  background-color: rgb(235, 200, 196);
  color: rgb(186, 51, 48);
}

.notification_warning {
  background-color: rgb(248, 243, 214);
  color: rgb(134, 99, 41);
}

.notification_success {
  background-color: rgb(222, 242, 214);
  color: rgb(95, 115, 87);
}
