.product {
  font-family: "Hollow";

  font-size: 2vh;
  background-color: transparent;
  border: none;
  user-select: none;
  cursor: pointer;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 11vw;
  width: 22vw;
  background-image: url("/Shop.png");
  background-size: 100% 100%;
}

/* .product::after {
  position: absolute;
  display: block;
  content: "";
  left: 0%;
  top: 0%;
  height: 11vw;
  width: 22vw;
  background-color: transparent;
  
} */

.shop {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
}
