.charm {
  width: 64px;
  height: 64px;
  grid-row: var(--row);
  grid-column: var(--col);
  background-size: cover;
  z-index: 1;
}

.dropping {
  opacity: 0.2;
  z-index: 1;
}

.overlaping {
  background-color: rgba(255, 0, 0, 0.2);
}
