body {
  margin: 0 0 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Hollow";
  color: white;
  background-color: black;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

#root {
  width: 100%;
  height: 100%;
}

@font-face {
  font-family: Hollow;
  src: url("/Font.ttf");
}

* {
  box-sizing: border-box;
}
